.App {
    text-align: center;
    background: black;
    width: 100%;
    height: 100vh;
}

.modaal {
    position: absolute;
    top: 22%;
    left: 30%;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 400px;
    border: 1px solid black;
    box-shadow: 1px 1px 8px grey;
    border-radius: 20px;

}

.pdf-page {
    width: 96%;
    height: 300px;
    margin: 3% 2%;
    border: 1px solid red;
}